.projects-list {
  padding-top: 2rem;
}

.projects-list-sort-btns {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--gray-200);
}

.projects-list-sort-btn {
  all: unset;
  padding-block: 1rem;
  cursor: pointer;
}

.projects-list-sort-btn:focus-visible {
  outline: auto;
}

.projects-list-sort-btn--active {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

.projects-list-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media (width > 56.25rem) {
  .projects-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 75rem) {
  .projects-list-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width > 90rem) {
  .projects-list-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width > 120rem) {
  .projects-list-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (width > 170rem) {
  .projects-list-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (width > 240rem) {
  .projects-list-container {
    grid-template-columns: repeat(12, 1fr);
  }
}
